@model Logios.Models.ExerciseResultViewModel
<div class="row">
        @if (Model.Exercises.Count() == 0)
        {
            <div class="alert-warning text-center" style="height:200px; vertical-align:central;">
                <h3>No se encontraron ejercicios de ese tema</h3>
            </div>
        }
        else
        {
            foreach (var exercise in Model.Exercises)
            {
                <div class="col-xs-3 exercise-card">
                    <div class="thumbnail">
                        <a href="@Url.Action("Show", "Exercise", new { Id = @exercise.ExerciseId })">
                            <img src="@Model.TopicImageUrl" alt="Imagen del ejercicio">
                        </a>
                        <div class="caption">
                            <a href="@Url.Action("Show", "Exercise", new { Id = @exercise.ExerciseId })">
                                <h3>Ejercicio - @exercise.ExerciseId</h3>
                            </a>
                            <p>@exercise.Description</p>
                        </div>
                    </div>
                </div>
            }
        }        
</div>