@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Logios - Sapere aude";
}

@if (!Request.IsAuthenticated)
{
<div class="jumbotron jumbotron-video clearfix">                            
        <video id="video-background" poster="/Content/images/bg3.jpg" preload="auto" muted autoplay loop oncontextmenu="return false;">
            <source src="~/Content/video/library_reading_hall.mp4" type="video/mp4" />
            @*<source src="~/Content/video/library_reading_hall.webm" type="video/webm" />*@
        </video>
        <div>
            @Html.Partial("_LandingPage")
        </div>
    </div>
}
else
{
    <button class="btn btn-info tutorial-button pull-right" style="margin-top:20px;"> <span class="glyphicon glyphicon-question-sign"></span> </button>
    <div class="text-center homeLogo"><p>Logios</p></div>        
}

<div id="SearchArea" class="jumbotron padding-zero exercise-search-box">
    @using (Ajax.BeginForm(
                "Search",
                "Home",
                null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "exerciseSearchResult",
                    OnComplete = "animateResults",
                    AllowCache = false
                },
                new
                {
                    Id = "exerciseSearchForm",
                    @Class = "form",
                    Role = "form"
                }
            )
    )
    {
        <div class="form-group">
            <div class="input-group input-group-lg search-box">
                <input type="hidden" id="lastTopic" />
                <input type="hidden" id="lastCheck" />                
                <input id="searchInput" name="topicDescription" type="text" class="form-control decorate" placeholder="Busca un tema, ej: Integrales" />
                <span class="input-group-btn">
                    <button id="exerciseSearchButton" class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
        <div class="form-group row">            
            <h4 id="search-tags" class="col-md-8">
            </h4>
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-4 switch-column">
                    <div class="onoffswitch">
                        <input type="checkbox" name="showResolvedExercises" class="onoffswitch-checkbox" id="showResolvedExercises" checked />
                        <label class="onoffswitch-label" for="showResolvedExercises">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            }
            else
            {
                @Html.CheckBox("showResolvedExercises", true, new { style = "visibility: hidden;" })
            }
        </div>
    }
</div>
<div id="exerciseSearchResult" class="exercise-search-result">
</div>
<div id="topicAreaSearchBox" class="jumbotron padding-zero text-center topic-area-search-box">
    @Html.Partial("_TopicAreaSearch")
</div>

<!-- Visita Guiada -->
<ol id="joyRideTipContent">
    <li data-button="Siguiente">
        <h3>Bienvenido a Logios</h3>
        <p>Vamos a ver algunas de las funcionalidades que tenemos disponibles para ti.</p>
    </li>

    <li data-id="searchInput" data-button="Siguiente" data-options="tipLocation:top;tipAnimation:fade">
        <h3>Búsqueda de ejercicios</h3>
        <p>
            Esta es la barra de búsquedas, al hacer click verás una lista de todos los temas disponibles. <br />
            Puedes escribir el que quieras para filtrar la lista y encontrarlo más facilmente.
        </p>
    </li>

    <li data-class="onoffswitch" data-button="Siguiente" data-options="tipLocation:left;tipAnimation:fade">
        <h3>Filtrar ejercicios resueltos</h3>
        <p>
            Si desactivas este botón, no verás los ejercicios que ya has resuelto en los resultados de tu búsqueda.
        </p>
    </li>

    <li data-id="topicAreaNavigation" data-button="Siguiente" data-options="tipLocation:top;tipAnimation:fade">
        <h3>Navegación por áreas</h3>
        <p>
            Si quieres navegar el sitio para descubrir todos los temas que tenemos, la mejor forma es accediendo a está sección.
        </p>
    </li>

    <li data-class="tutorial-button" data-button="Finalizar" data-options="tipLocation:left;tipAnimation:fade">
        <h3>Ayuda</h3>
        <p>
            Para volver a ver la ayuda presiona este botón.
        </p>
    </li>
</ol>


<script type="text/javascript">
    var userId = '@User.Identity.GetUserId()';
</script>

@section scripts {
        @Scripts.Render("~/bundles/siteScripts")
    }