@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Logios - Sapere aude";
}

@if (!Request.IsAuthenticated)
{
    <div class="wrapper clearfix">
        @Html.Partial("_LandingPage")
    </div>
}
else
{
    <div class="text-center homeLogo"><p>Logios</p></div>        
}

<div id="SearchArea" class="jumbotron padding-zero exercise-search-box">
    @using (Ajax.BeginForm(
                "Search",
                "Home",
                null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "exerciseSearchResult",
                    OnComplete = "animateResults",
                    AllowCache = false
                },
                new
                {
                    Id = "exerciseSearchForm",
                    @Class = "form",
                    Role = "form"
                }
            )
    )
    {
        <div class="form-group">
            <div class="input-group input-group-lg search-box">
                <input type="hidden" id="lastTopic" />
                <input type="hidden" id="lastCheck" />                
                <input id="searchInput" name="topicDescription" type="text" class="form-control" placeholder="Busca un tema, ej: Integrales" />
                <span class="input-group-btn">
                    <button id="exerciseSearchButton" class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
        <div class="form-group row">            
            <h4 id="search-tags" class="col-md-9">
            </h4>
            <div class="col-md-3 checkbox-inline">
                <label style="cursor: pointer; font-weight: normal;">@Html.CheckBox("onlyNotResolved") Sólo mostrar ejercicios no resueltos</label>
            </div>
        </div>
    }
</div>
<div id="exerciseSearchResult" class="exercise-search-result">
</div>
<div id="topicAreaSearchBox" class="jumbotron padding-zero text-center topic-area-search-box">
    @Html.Partial("_TopicAreaSearch")
</div>

<script type="text/javascript">
    var userId = '@User.Identity.GetUserId()';
</script>

@section scripts {
        @Scripts.Render("~/bundles/siteScripts")
    }