@model IEnumerable<Logios.Models.TopicPanelViewModel>

@{
    WebGrid topicList = new WebGrid(Model, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "createdTopics");    
}

<h2>Temáticas existentes</h2>
<br />

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("CreateTopic")" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Crear temática</a>
    </div>    
</div>
<br />

<div>
    @topicList.GetHtml(
        htmlAttributes: new { id = "createdTopics" },
        tableStyle: "table table-hover table-striped table-bordered text-center",
        headerStyle: "head-align",
        rowStyle: "active",
        alternatingRowStyle: "active",
        fillEmptyRows: false,
        mode: WebGridPagerModes.All,
        firstText: "<< Primero",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Último >>",

        columns: topicList.Columns(
                        topicList.Column("TopicId", canSort: false, header: "ID"),
                        topicList.Column("Description", canSort: false, header: "Descripción"),
                        topicList.Column("Area", canSort: false, header: "Área"),
                        topicList.Column("TopicId", canSort: false, header: "Acciones",
                                format: @<text>
                                            <a href="@Url.Action("EditTopic", new { id = @item.TopicId })" class="btn btn-xs btn-success">
                                                <span class="glyphicon glyphicon-pencil"></span> Editar
                                            </a>
                                            <a id="deleteTopic" onclick="deleteTopic('@item.TopicId');" class="btn btn-xs btn-danger">
                                                <span class="glyphicon glyphicon-remove"></span> Borrar
                                            </a>
                                        </text> ))
    )
</div>

<script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
    }
</script>