@model Logios.Models.CreateExerciseViewModel

@{
    ViewBag.Title = "Crear ejercicio";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />

<div>
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;PRIMER PASO: Escriba el problema a resolver.</i></h4>
        </div>

        <div class="col-lg-9 vertical-space-1">
            <div class="exercise-bg overflow">                
                <div id="problemContainer"></div>
                @Html.Partial("_ArrowsEditor")
            </div>                        
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Desarrollo <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;SEGUNDO PASO: Desarrolle detalladamente cada operación para resolver el ejercicio.</i></h4>
        </div>

        <div class="col-lg-9 vertical-space-1">
            <div class="exercise-bg overflow">                
                <div id="developmentContainer"></div>
                @Html.Partial("_ArrowsEditor")            
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Solución <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;TERCER PASO: Escriba el resultado.</i></h4>
        </div>

        <div class="col-lg-9">            
            <div class="exercise-bg overflow">                
                <div id="solutionContainer"></div>
                @Html.Partial("_ArrowsEditor")
            </div>            
        </div>
    </div>

    @using (Ajax.BeginForm(
                "AddExercise",
                "Administrator",
                new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ModalCreateExercise" },
                new { Id = "CreateForm", @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Exercise.Problem)
        @Html.HiddenFor(m => m.Exercise.Development)
        @Html.HiddenFor(m => m.Exercise.Solution)
        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Temática y descripción <span class="glyphicon glyphicon-arrow-right"></span></h2>
                <h4><i>&raquo;ÚLTIMO PASO: Elija una temática de la siguiente lista que identifique al ejercicio y escriba una pequeña reseña sobre su contenido.</i></h4>
            </div>

            <div class="col-lg-9">            
                <div class="col-lg-5" style="padding-top: 25px;">
                    @Html.DropDownListFor(m => m.Topic.TopicId, Model.ComboTopics, null, new { @class = "form-control font-larger", size = "7", multiple = "" })                    
                    <input type="hidden" id="Topic_Description" name="Topic.Description" value="a" />
                </div>
                <div class="col-lg-7" style="padding-top: 25px;">
                    @Html.TextAreaFor(m => m.Exercise.Description, 7, 1, new { @class = "form-control", placeholder = "Escriba una descripción..." })                                    
                </div>
            </div>        
        </div>                     

        <div class="row">                  
            <div class="col-lg-offset-9">
                <button type="submit" class="btn btn-lg btn-info" onclick="return passData();">Crear nuevo ejercicio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-8 help-block">
                @Html.ValidationSummary("", new { @class = "summary text-center text-danger" })
            </div>
        </div>
    }
    <div id="ModalCreateExercise"></div>
</div>

@section scripts {
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/Scripts/formulaEditor.js")
        @Scripts.Render("~/Scripts/createExercise.js")        
    }