@{
    ViewBag.Title = "Panel de control";
}

<div class="help-block"></div>
<div id="NotificationArea"></div>

<div class="container col-lg-12">
    <h1><b><span class="glyphicon glyphicon-cog"></span> @ViewBag.Title</b></h1>
    <h3><i>¿Que desea hacer?</i></h3>
    <hr />
    <a href="@Url.Action("AddExercise", "Administrator")" class="btn btn-info">Crear nuevo ejercicio</a>
    <a href="@Url.Action("EditExercise", "Administrator", new { id = 1 })" class="btn btn-info">Editar ejercicio 1</a>
    <a href="@Url.Action("EditExercise", "Administrator", new { id = 2 })" class="btn btn-info">Editar ejercicio 2</a>
    <a href="@Url.Action("EditExercise", "Administrator", new { id = 3 })" class="btn btn-info">Editar ejercicio 3</a>
    <a class="btn btn-info" onclick="deleteExercise(3);">Eliminar ejercicio 3</a>
</div>

<div id="goToDelete"></div>

@section scripts {
    <script>function hideModal() { $('#deleteModal').modal('hide'); }</script>
    <script>function deleteExercise(id) { $("#goToDelete").load("/Administrator/DeleteExercise/" + id); }</script>
}