@model Logios.Models.EditExerciseViewModel

@{
    ViewBag.Title = "Editar ejercicio";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado: </h2>
            <h4><i>&raquo;PRIMER PASO: Escriba el problema a resolver.</i></h4>
        </div>

        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="problemContainer"></div>
                </div>
            </div>
            <a href="#" id="stepTwo" name="stepTwo" class="btn btn-primary">Ir al 2º paso &raquo;</a>
        </div>
    </div>

    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Desarrollo: </h2>
            <h4><i>&raquo;SEGUNDO PASO: Desarrolle detalladamente cada paso para resolver el ejercicio.</i></h4>
        </div>

        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="developmentContainer"></div>
                </div>
            </div>
            <a href="#" id="stepThree" name="stepThree" class="btn btn-primary">Ir al 3º paso &raquo;</a>            
        </div>
    </div>

    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Solución: </h2>
            <h4><i>&raquo;TERCER PASO: Escriba el resultado.</i></h4>
        </div>

        <div class="col-lg-9">            
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="solutionContainer"></div>
                </div>
            </div>
            <a href="#" id="backToStepOne" name="backToStepOne" class="btn btn-primary">&laquo; Volver al 1º paso</a>
        </div>
    </div>

    <div class="vertical-space"></div>

    @using (Ajax.BeginForm(
                        "EditExercise",
                        "Administrator",
                        new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ModalEditExercise" },
                        new { Id = "EditForm", @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Temática y descripción: </h2>
                <h4><i>&raquo;ÚLTIMO PASO: Elija una temática de la siguiente lista que identifique al ejercicio y escriba una pequeña reseña sobre su contenido.</i></h4>
            </div>

            <div class="col-lg-9">
                <div class="col-lg-5" style="padding-top: 25px;">
                    @Html.DropDownListFor(m => m.Topic.TopicId, Model.ComboTopics, null, new { @class = "form-control", size = "7", multiple = "" })
                </div>
                <div class="col-lg-7" style="padding-top: 25px;">
                    @Html.TextAreaFor(m => m.Exercise.Description, 6, 1, new { @class = "form-control", placeholder = "Escriba una descripción..." })
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Exercise.Problem)
        @Html.HiddenFor(m => m.Exercise.Development)
        @Html.HiddenFor(m => m.Exercise.Solution)

        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-lg-offset-9">
                <button type="submit" class="btn btn-lg btn-info" onclick="return passData();">Editar este ejercicio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-8 help-block">
                @Html.ValidationSummary("", new { @class = "summary text-center text-danger" })
            </div>
        </div>
    }
    <div id="ModalEditExercise"></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    @Scripts.Render("~/Scripts/editExercise.js")
    <script>serializeModel(@Html.Raw(Json.Encode(Model.Exercise)));</script>
}

