@model Logios.Models.EditExerciseViewModel

@{
    ViewBag.Title = "Editar ejercicio";
}

<h1><b>@ViewBag.Title</b></h1>
<hr />

<div>
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;PRIMER PASO: Escriba el problema a resolver.</i></h4>
        </div>

        <div class="col-lg-9 vertical-space-1">
            <div class="exercise-bg overflow">
                <div id="problemContainer"></div>
                <div>
                    <div class="col-lg-6 arrowDown" data-toggle="tooltip" title="Aumentar espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_down.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                    <div class="col-lg-6 arrowUp" data-toggle="tooltip" title="Disminuir espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_up.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                </div>
            </div>          
        </div>
    </div>    

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Desarrollo <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;SEGUNDO PASO: Desarrolle detalladamente cada paso para resolver el ejercicio.</i></h4>
        </div>

        <div class="col-lg-9 vertical-space-1">
            <div class="exercise-bg overflow">
                <div id="developmentContainer"></div>
                <div>
                    <div class="col-lg-6 arrowDown" data-toggle="tooltip" title="Aumentar espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_down.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                    <div class="col-lg-6 arrowUp" data-toggle="tooltip" title="Disminuir espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_up.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                </div>
            </div>            
        </div>
    </div>    

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Solución <span class="glyphicon glyphicon-arrow-right"></span></h2>
            <h4><i>&raquo;TERCER PASO: Escriba el resultado.</i></h4>
        </div>

        <div class="col-lg-9">            
            <div class="exercise-bg overflow">
                <div id="solutionContainer"></div>
                <div>
                    <div class="col-lg-6 arrowDown" data-toggle="tooltip" title="Aumentar espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_down.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                    <div class="col-lg-6 arrowUp" data-toggle="tooltip" title="Disminuir espacio">
                        <button class="button-transparent"><img src="~/Content/images/arrow_drop_up.png" alt="increment_heightEditor" width="24" style="margin-top: -16px;" /></button>
                    </div>
                </div>
            </div>            
        </div>
    </div>    

    @using (Ajax.BeginForm(
                        "EditExercise",
                        "Administrator",
                        new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ModalEditExercise" },
                        new { Id = "EditForm", @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Exercise.Problem)
        @Html.HiddenFor(m => m.Exercise.Development)
        @Html.HiddenFor(m => m.Exercise.Solution)
        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Temática y descripción <span class="glyphicon glyphicon-arrow-right"></span></h2>
                <h4><i>&raquo;ÚLTIMO PASO: Elija una temática de la siguiente lista que identifique al ejercicio y escriba una pequeña reseña sobre su contenido.</i></h4>
            </div>

            <div class="col-lg-9">
                <div class="col-lg-5" style="padding-top: 25px;">
                    @Html.DropDownListFor(m => m.Topic.TopicId, Model.ComboTopics, null, new { @class = "form-control font-larger", size = "7", multiple = "" })
                    <input type="hidden" id="Topic_Description" name="Topic.Description" value="a" />
                </div>
                <div class="col-lg-7" style="padding-top: 25px;">
                    @Html.TextAreaFor(m => m.Exercise.Description, 7, 1, new { @class = "form-control", placeholder = "Escriba una descripción..." })
                </div>
            </div>
        </div>               

        <div class="row">
            <div class="col-lg-offset-9">
                <button type="submit" class="btn btn-lg btn-info" onclick="return passData();">Editar este ejercicio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-8 help-block">
                @Html.ValidationSummary("", new { @class = "summary text-center text-danger" })
            </div>
        </div>
    }
    <div id="ModalEditExercise"></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/formulaEditor(editExercise).js")
    @Scripts.Render("~/Scripts/editExercise.js")
    <script>serializeModel(@Html.Raw(Json.Encode(Model.Exercise)));</script>
}

