@model Logios.Models.TopicViewModel

@{
    ViewBag.Title = "Editar Tópico";
}

<h1>@ViewBag.Title</h1>

<hr />

        @using (Html.BeginForm("EditTopic", "Administrator", FormMethod.Post, new { id = "EditTopicForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()            
            @Html.HiddenFor(m => m.Topic.TopicId)
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <label for="Description" class="control-label col-md-3 text-right">Descripción:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Topic.Description, new { @class = "form-control", placeholder = "Descripción..." })
                            @Html.ValidationMessageFor(m => m.Topic.Description, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3 text-right">Área temática:</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.TopicArea.TopicAreaId, Model.TopicArea.ComboTopicAreas, "Elija una opción...", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TopicArea.TopicAreaId, null, new { @class = "text-danger" })
                            <input type="hidden" id="TopicArea_Description" name="TopicArea.Description" value="a" />
                        </div>
                    </div>
                    </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href = '/Administrator/ControlPanel';">Cancelar</button>
                        </div>
                    </div>
                    </div>
</fieldset>
        }
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

