@model Logios.Models.ExerciseResultViewModel
@using Microsoft.AspNet.Identity

<div class="row vertical-space-1">
        @if (Model.Exercises.Count() == 0)
        {
            <div class="col-xs-12">
                <div class="jumbotron alert-warning text-center">
                    <span class="text-warning" style="font-size: 40px;">No hay ejercicios disponibles</span>
                </div>
            </div>
        }
        else
        {
            foreach (var exercise in Model.Exercises)
            {
                <div class="col-xs-3 exercise-card">
                    <div class="thumbnail">
                        <a href="@Url.Action("Show", "Exercise", new { Id = @exercise.ExerciseId })">
                            <img src="@Model.TopicImageUrl" alt="Imagen del ejercicio">
                        </a>
                        <div class="caption">
                            @if (exercise.Resolved)
                            {
                                <h3 class="exercise-title text-success">
                                    <a href="@Url.Action("Show", "Exercise", new { Id = @exercise.ExerciseId })" class="text-success">
                                        Ejercicio - @exercise.ExerciseId
                                    </a>
                                    <span class="glyphicon glyphicon-ok"></span>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <script>$('[data-toggle="tooltip"]').tooltip();</script>
                                        if (exercise.Favorited)
                                        {
                                            <span class="glyphicon glyphicon-star text-warning favorite-star" data-exercise-id="@exercise.ExerciseId" data-toggle="tooltip" title="Quitar de favoritos"></span>
                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-star-empty text-warning favorite-star" data-exercise-id="@exercise.ExerciseId" data-toggle="tooltip" title="Marcar como favorito"></span>
                                        }
                                    }
                                </h3>
                            }
                            else
                            {
                                <h3 class="exercise-title text-logios">
                                    <a href="@Url.Action("Show", "Exercise", new { Id = @exercise.ExerciseId })">
                                        Ejercicio - @exercise.ExerciseId
                                    </a>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <script>$('[data-toggle="tooltip"]').tooltip();</script>
                                        if (exercise.Favorited)
                                        {
                                            <span class="glyphicon glyphicon-star text-warning favorite-star" data-exercise-id="@exercise.ExerciseId" data-toggle="tooltip" title="Quitar de favoritos"></span>
                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-star-empty text-warning favorite-star" data-exercise-id="@exercise.ExerciseId" data-toggle="tooltip" title="Marcar como favorito"></span>
                                        }
                                    }
                                </h3>
                            }
                            <p class="exercise-description">@exercise.Description</p>
                        </div>
                    </div>
                </div>
            }

            @Scripts.Render("~/Scripts/exerciseResult.js")
            @Scripts.Render("~/Scripts/exerciseFavorites.js")
        }
</div>