<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Logios</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tooltipster.css")
    @Styles.Render("~/Content/tooltipster-logios.css")
    @Styles.Render("~/Content/exerciseSwitch.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.gotop.min.js")
    @Scripts.Render("~/Scripts/jquery.tooltipster.min.js")
    @Scripts.Render("~/Scripts/site.js")    
</head>
<body>
    <noscript>
        <meta http-equiv="refresh" content="0;url=../Error/NoScript" />
    </noscript>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img id="logo" src='@Url.Content("/content/images/LOGO_V3.1.png")' data-toggle="tooltip" data-placement="bottom" title="Logios - Sapere aude" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="@Url.Action("ControlPanel", "Administrator")" data-toggle="tooltip" data-placement="bottom" title="Administrar toda la información">
                                <span class="glyphicon glyphicon-cog"></span> Panel de control
                            </a>
                        </li>                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="background-color: white; min-height: 93%;">                
        @RenderBody()                  
    </div>
    <div class="clearfix"></div>
    <div class="container" style="background-color: white;">
        <hr />        
        <p>&copy; @DateTime.Now.Year Logios - Sapere aude <span class="pull-right">Visita: <a class="text-default" href="https://twitter.com/Logios_OK"><img src="~/Content/images/share_social/1465195920_twitter_circle.png" width="16" /> @@Logios_OK</a></span></p>                
    </div>

    <div id='goTop'></div>

    <div id="CookieDiv" class="container alert alert-dismissible alert-info visit hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><strong>AVISO: </strong> Utilizamos cookies propias y de terceros para mejorar la experiencia de navegación.</p>
        <p>Al continuar navegando entendemos que aceptas el uso de cookies. <a href="#" class="alert-link">Más información.</a></p>
    </div>    
    @RenderSection("scripts", required: false)
</body>
</html>
