<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Logios</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tooltipster.css")
    @Styles.Render("~/Content/tooltipster-logios.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.gotop.min.js")
    @Scripts.Render("~/Scripts/jquery.tooltipster.min.js")
    <script>
        $(document).ready(function() {
            //$('[data-toggle="tooltip"]').tooltip();
            //$('.popup').click(function(event) {
            //    // and so on...
            //})
        });
    </script>
</head>
<body>
    <noscript>
        <meta http-equiv="refresh" content="0;url=../Error/NoScript" />
    </noscript>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img id="logo" src='@Url.Content("/content/images/LOGO_V3.1.png")' data-toggle="tooltip" data-placement="bottom" title="Logios - Sapere aude" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Panel de control", "ControlPanel", "Administrator")</li>                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="background-color: white;">                

        @RenderBody()

        <div class="clearfix"></div>
        <br />
        <footer class="row">
            <div class="col-lg-12">
                <hr />
                <p>&copy; @DateTime.Now.Year Logios - Sapere aude</p>
            </div>
            @*<div class="col-lg-5 pull-right sidebox sidebox-social">
                    <span class="col-lg-offset-4">Seguínos en:</span>
                    <a class="sm-rss" href="http://feeds.feedburner.com/Logios" rel="external" target="_blank" title="Subscribirse">RSS Feed</a>
                    <a class="sm-goo" href="https://plus.google.com/u/0/" rel="publisher" target="_blank" title="Perfil de Google+">Google+</a>
                    <a class="sm-twi" href="http://twitter.com" target="_blank" title="Perfil de Twitter">Twitter</a>
                    <a class="sm-fac" href="https://www.facebook.com/" target="_blank" title="Perfil de Facebook">Facebook</a>
                </div>*@
        </footer>
    </div>

    <div id='goTop'></div>

    <div id="CookieDiv" class="container alert alert-dismissible alert-info visit hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><strong>AVISO: </strong> Utilizamos cookies propias y de terceros para mejorar la experiencia de navegación.</p>
        <p>Al continuar navegando entendemos que aceptas el uso de cookies. <a href="#" class="alert-link">Más información.</a></p>
    </div>
    <script>$('#goTop').goTop({ appear: 20 });</script>
    @RenderSection("scripts", required: false)
</body>
</html>
