@using Microsoft.AspNet.Identity
@using Logios.Extensions
@using Logios.Services

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
            @{ string profilePicture = new UserProfileServices().GetProfilePicture(User.Identity.GetUserId()); }
            <a href="@Url.Action("Index", "Manage")" data-toggle="tooltip" data-placement="bottom" title="Ver perfil"><img src="~/Content/images/avatars/@profilePicture" width="20" alt="imagen_de_perfil"/> Bienvenido: @User.Identity.GetUserName()</a>
            </li>
            <li>
                <a href="" data-toggle="tooltip" data-placement="bottom" title="Puntos"><span class="glyphicon glyphicon-screenshot"></span> @User.Identity.GetCurrentPoints(User.Identity.GetUserId())</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">        
        <li>
            <a id="registerLink" href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-list-alt"></span> Registrarse</a>            
        </li>
        <li>
            <a id="loginLink" href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a>            
        </li>
    </ul>
}
