@model Logios.DTOs.TopicAreaDTO

@{
    ViewBag.Title = "Crear área";
}
<h1>@ViewBag.Title</h1>
<hr />

   
        @using (Html.BeginForm("CreateArea", "TopicArea", FormMethod.Post, new { id = "CreateAreaForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    
                    <div class="form-group">
                        <label for="Description" class="col-md-3 text-right control-label">Descripción:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(a => a.Description, new { @class = "form-control", placeholder = "Descripción..." })
                            @Html.ValidationMessageFor(a => a.Description, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href = '/Administrator/ControlPanel';">Cancelar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
