@model Logios.Models.BadgesAndPointsUserPanelViewModel
@using Microsoft.AspNet.Identity
@using Logios.Extensions


<div>
    <div class="col-md-4">
        <h3 class="topic-area-statistics-title">Puntos Totales<span class="badge resolved-exercises-header">@User.Identity.GetCurrentPoints(User.Identity.GetUserId())</span></h3>

        <p class="topic-statistics">Puntos por ejercicios resueltos<span class="badge resolved-exercises"> @Model.Points </span> </p>

        @foreach (var badges in Model.Badges)
        {
            <p class="topic-statistics">@badges.DescriptionTrophy <span class="badge resolved-exercises"> @badges.TrophyPoints </span> <img src="@badges.ImageTrophy" style="height:30px" /> </p>
            
        }
    </div>        
</div>
