@model Logios.Models.IndexViewModel
@using Microsoft.AspNet.Identity 
@using Logios.Extensions
@{
    ViewBag.Title = "Administrar cuenta";
}

<h3 class="topic-area-statistics-title">Configuración</h3>

<div class="row">    
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="col-md-6">

        <div class="form-group">
            <label class="col-md-5 control-label">E-mail:</label>
            <div class="col-md-7">
                <label class="text-default">@User.Identity.GetUserEmail(User.Identity.GetUserId())</label>                
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">Nombre de usuario:</label>
            <div class="col-md-7">
                <label class="text-default">@User.Identity.Name @Html.ActionLink("Cambiar", "ChangeName")</label>
            </div>
        </div>

        <div class="form-group vertical-space-2">
            <label class="col-md-5 control-label">Contraseña:</label>
            <div class="col-md-7">                
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword", null, new { @class = "btn btn-sm btn-info" })
                }
                else
                {
                    @Html.ActionLink("Crear contraseña", "SetPassword", null, new { @class = "btn btn-sm btn-info" })
                }                
            </div>
        </div>
        
        @*<dt>Servicios de autenticación:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Gestionar", "ManageLogins") ]
                </dd>

            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication


            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>

                <dt>Autenticación en dos pasos:</dt>
                <dd>
                    <p>
                        No hay configurado ningún proveedor de autenticación en dos pasos.
                    </p>
                    @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
                </dd>
            </dl>
            <hr />*@

    </div>    
    
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { id = "changeAvatarForm", enctype = "multipart/form-data" }))
    {
        <div class="col-md-3" style="border: 1px solid gray; border-radius: 3px; padding-top: 20px;">
            <div class="row text-center">
                <img src="~/Content/images/avatars/@Model.ProfilePicture" width="192" />
            </div>        
            <div class="row">            
                @Html.AntiForgeryToken();
                <label for="newAvatar" class="btn btn-sm btn-block btn-info">Cambiar imágen de perfil</label>
                @Html.TextBoxFor(m => m.newAvatar, new { type = "file", style = "display: none;" })                                                
            </div>                                                            
        </div>
        <div class="col-md-3 col-md-offset-6">
            @Html.ValidationMessageFor(m => m.newAvatar, null, new { @class = "text-danger" })
        </div>
    }
</div>

<script>
    $('#newAvatar').change(function () {
        $('#changeAvatarForm').submit();
    });
</script>

    


