@model Logios.Models.ExerciseUserPanelViewModel
@{ int colNumber = 0; }

<h4>Estos son todos los ejercicios que has visto:</h4>
<div>
    @foreach (var topicAreaDescription in Model.Statistics.Keys)
    {
        int total = 0;

        Model.Statistics[topicAreaDescription]
            .Select(ts => ts.Value)
            .ToList()
            .ForEach(v => total += v);

        if (colNumber % 3 == 0)
        {
            @Html.Raw("<div class=\"row\">");
        }
            <div class="col-md-4">
                <h3 class="topic-area-statistics-title">@topicAreaDescription <span class="badge resolved-exercises-header"> @total </span></h3>
                <nav id="menu_gral">
                    <ul>
                        @foreach (var topicStatistics in Model.Statistics[topicAreaDescription])
                        {
                            <li class="topic-statistics">
                                <a onclick="openExercises('@topicStatistics.Key');" class="text-info topic-menu @topicStatistics.Key">
                                    <span class="glyphicon glyphicon-chevron-right"></span> @topicStatistics.Key <span class="badge resolved-exercises"> @topicStatistics.Value </span>
                                </a>
                                <ul name="@topicStatistics.Key" style="display: none;">                                    
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        if (colNumber % 3 == 2)
        {
            @Html.Raw("</div>");
        }
        { colNumber++; }
    }
</div>