@model Logios.Models.FavoriteExercisesPanelViewModel
<h3 class="topic-area-statistics-title">Ejercicios Favoritos</h3>
<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
                <th>Ejercicio</th>
                <th>Descripción</th>
                <th>Resuelto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favorite in Model.FavoriteExercises)
            {
                <tr>
                    <td><a href='@Url.Action("Show", "Exercise", new { id = @favorite.ExerciseId })'>Ejercicio - @favorite.ExerciseId</a></td>
                    <td>@favorite.Description</td>
                    <td>
                        @if (favorite.Resolved)
	                    {
		                     <span class="glyphicon glyphicon-ok text-success"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        }
                    </td>
                    <td><button class="btn btn-danger btn-sm remove-favorite-button" data-exercise-id="@favorite.ExerciseId">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/Scripts/exerciseFavorites.js")