@model Logios.Models.RoleViewModel

@{
    ViewBag.Title = "Crear rol";
}
<h1>@ViewBag.Title</h1>
<hr />

    
        @using (Html.BeginForm("Create", "RolesAdmin", FormMethod.Post, new { id = "CreateRoleForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <legend class="text-info">Crear un nuevo rol.</legend>
                    <div class="form-group">
                        <label for="Description" class="col-md-3 control-label text-right">Nombre:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", placeholder = "Nombre..." })
                            @Html.ValidationMessageFor(r => r.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href = '/Administrator/ControlPanel';">Cancelar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
