@model Logios.Models.RoleViewModel

@{
    ViewBag.Title = "Editar rol";
}
<h1>@ViewBag.Title</h1>
<hr />

   
        @using (Html.BeginForm("Edit", "RolesAdmin", FormMethod.Post, new { id = "EditRoleForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <legend class="text-info">Editar rol existente.</legend>
                    <div class="form-group">
                        <label for="Description" class="col-md-3 text-right control-label">Nombre:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", placeholder = "Nombre...", autofocus = "" })
                            @Html.ValidationMessageFor(r => r.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="form-group">
                    <div class="col-md-9 text-right">
                        <button type="submit" class="btn btn-success">Confirmar</button>
                        <button type="button" class="btn btn-danger" onclick="window.location.href = '/Administrator/ControlPanel';">Cancelar</button>
                    </div>
                </div>
                </div>
            </fieldset>
        }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}