@model Logios.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear usuario";
}

<h1>@ViewBag.Title</h1>
<hr />


@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { id = "CreateForm", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()           
            <fieldset>
                <div class="row">
                    <legend class="text-info">Crear una nueva cuenta</legend>
                    <div class="form-group">
                        <label for="Email" class="col-md-3 text-right control-label">E-mail:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail..." })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="UserName" class="col-md-3 control-label text-right">Nombre de usuario:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nombre de usuario..." })
                            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="Password" class="col-md-3 control-label text-right">Contraseña:</label>
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password..." })
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="ConfirmPassword" class="col-md-3 control-label text-right">Confirmar contraseña:</label>
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar contraseña..." })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">Elegir rol:</label>
                        <div class="col-md-6" style="padding-left: 40px;">
                            <div class="radio">
                                @foreach (var item in (SelectList)ViewBag.RoleId)
                                {
                                    <div>
                                        <input type="radio" id="@item.Value" name="SelectedRoles" value="@item.Value" checked="@(item.Value == "Usuario" ? "checked" : "")" />
                                        <label for="@item.Value">@item.Value</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-9 text-right">
                            <button type="submit" class="btn btn-success">Confirmar</button>
                            <button type="button" class="btn btn-danger" onclick="window.location.href = '/Administrator/ControlPanel';">Cancelar</button>
                        </div>
                    </div>
                </div>
            </fieldset>        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
