@model IEnumerable<Logios.Entities.Trophy>

@{
    WebGrid trophiesList = new WebGrid(Model, canPage: false, ajaxUpdateContainerId: "createdTrophies");
}

<h2 class="topic-area-statistics-title">Listado de trofeos</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{     
    <div class="overflow">
        @trophiesList.GetHtml(
            htmlAttributes: new { id = "createdTrophies" },
            tableStyle: "table table-hover text-center table-responsive",
            headerStyle: "head-align logios-header",
            rowStyle: "active fade-trophy",
            alternatingRowStyle: "active fade-trophy",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< Primero",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Último >>",

            columns: trophiesList.Columns(
                            trophiesList.Column(null, null, format: @<input type="hidden" name="IDHidden[@item.TrophyId]" value="@item.TrophyId" />),
                            trophiesList.Column("Image", canSort: false, style: "col-vcenter", header: "Medalla",
                                format: @<text>
                                            <img src="@item.Image" width="48" alt="trophy_laurel" />
                                        </text>
                            ),
                            trophiesList.Column("Description", canSort: false, style: "col-vcenter", header: "Nombre"),
                            trophiesList.Column("Reason", canSort: false, style: "col-vcenter", header: "Requisito"),
                            trophiesList.Column("Points", canSort: false, style: "col-vcenter", header: "Premio (Puntos)"),
                            trophiesList.Column("TrophyId", canSort: false, style: "col-vcenter", header: "Acción",
                                    format: @<text>
                                                <a href="@Url.Action("Edit", "Trophies", new { id = @item.TrophyId })">
                                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                                </a>                                            
                                            </text> ))
            )
    </div>
}
else
{        
    <div>
        @trophiesList.GetHtml(
            htmlAttributes: new { id = "createdTrophies" },
            tableStyle: "table table-hover text-center",
            headerStyle: "head-align logios-header",
            rowStyle: "active fade-trophy",
            alternatingRowStyle: "active fade-trophy",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< Primero",
            previousText: "< Anterior",
            nextText: "Siguiente >",
            lastText: "Último >>",

            columns: trophiesList.Columns(
                            trophiesList.Column(null, null, format: @<input type="hidden" name="IDHidden[@item.TrophyId]" value="@item.TrophyId" />),                                              
                            trophiesList.Column("Image", canSort: false, style: "col-vcenter", header: "Medalla",
                                format: @<text>
                                <img src="@item.Image" width="48" alt="trophy_laurel" />
                                </text>
                            ),
                            trophiesList.Column("Description", canSort: false, style: "col-vcenter", header: "Nombre"),
                            trophiesList.Column("Reason", canSort: false, style: "col-vcenter", header: "Requisito"),
                            trophiesList.Column("Points", canSort: false, style: "col-vcenter", header: "Premio (Puntos)")
                            )
            )
    </div>
}

<h4 class="trophyCount text-success"></h4>

<script>
    // Distingue los trofeos ganados de los que faltan conseguir en la grilla
    $.ajax({
        url: "/Trophies/TrophiesWon",
        type: 'GET',
        error: function (response) {
            alert("Error al procesar solicitud.");
        },
        success: function (trophiesWonListData) {
            $('.trophyCount').wrapInner("Trofeos ganados: " + trophiesWonListData.length);

            for (i = 0; i < trophiesWonListData.length; i++)
                $("input[name='IDHidden[" + trophiesWonListData[i] + "]']").closest('tr').removeClass('fade-trophy');
        }
    })
</script>