@model Logios.Entities.Trophy

@{
    ViewBag.Title = "Editar trofeo";
}

<div class="vertical-space"></div>
<div class="col-md-offset-3 col-md-6">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Edit", "Trophies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TrophyId)
        <h4>Complete los siguientes campos</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-4 control-label">Descripción:</label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Requisito:</label>
            <div class="col-md-7">
                @Html.TextAreaFor(m => m.Reason, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Puntos:</label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Points, new { type = "number", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Ruta de imágen:</label>
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Confirmar" class="btn btn-info" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
