@model Logios.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrarse";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title</h2>
        <h3>Asocia tu cuenta de @ViewBag.LoginProvider.</h3>

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl, LoginProvider = ViewBag.LoginProvider }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info vertical-space-2">
                Te has autenticado exitosamente con <strong>@ViewBag.LoginProvider</strong>.
                Por favor, ingresa un nombre de usuario y haz clic en el botón debajo para finalizar.
            </p>
            
            <div class="form-group">
                <label class="col-md-2 control-label">Nombre:</label>                
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label">Email:</label>                
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-right">
                    <input type="submit" class="btn btn-info" value="Finalizar registro" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
