@using Logios.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="vertical-space"></div>
<div class="col-md-12">
    <h2><b>@ViewBag.Title</b></h2>
</div>
<div class="col-md-6">    
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="topic-area-statistics-title vertical-space-1">Complete los siguientes campos para iniciar sesión.</h4>                    

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="UserName" class="col-md-4 control-label">Nombre de usuario:</label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-md-4 control-label">Contraseña:</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <div class="checkbox col-md-6">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <label for="RememberMe">¿Recordarme?</label>
                            </div>
                            <div class="text-right">
                                <div>
                                    <input type="submit" value="Ingresar" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 pull-right">
                        <div class="pull-right">
                            @Html.ActionLink("¿Aún no es usuario? Registrese ahora", "Register", null, new { @class = "text-info"})
                        </div>                        
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>        
    </div>
</div>
<div class="col-md-6">    
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}