@model Logios.Entities.Exercise

@{
    ViewBag.Title = "Mostrar ejercicio";
}

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML-full"></script>
<script src="http://www.wiris.net/demo/editor/editor"></script>
@Scripts.Render("~/Scripts/exercise.js")

<ul class="breadcrumb exercise-breadcrumb-mod">
    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Ejercicios</a></li>
    <li><a href="#">Derivadas</a></li>
    <li class="active">Ejercicio #@Model.ExerciseId</li>
</ul>

<h2><b>EJERCICIO Nº @Model.ExerciseId</b></h2>
<small>Temática: </small>
<span class="label label-warning">Derivadas</span>
<div class="pull-right">
    <button class="btn btn-sm btn-default" title="Ir a ejercicio anterior"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button class="btn btn-sm btn-default" title="Ir a ejercicio siguiente"><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<hr />

<div class="vertical-space"></div>

<div class="container-fluid">    
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado: </h2>
        </div>

        <div id="problemDIV" class="col-lg-8">
            <blockquote>                
                <p>@Html.Raw(Model.Problem)</p>
                <small>Suma 20 puntos</small>
            </blockquote>
        </div>
    </div>
    
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Desarrollo: </h2>
            <h6 class="exercise-legend col-lg-10">(Al ver el proceso de resolución del ejercicio, no se le otorgarán puntos.)</h6>
        </div>

        <div class="col-lg-8">            
            <blockquote>
                <button id="ViewDevelopment" class="btn btn-default" onclick="ViewDevelopment();">Visualizar desarrollo</button>
                <div class="clearfix"><br /></div>
                <p id="DevelopmentField" hidden>@Html.Raw(Model.Development)</p>
            </blockquote>
        </div>
    </div>
    
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Solución: </h2>            
        </div>

        <div id="divSolution" class="col-lg-6">
            <blockquote>
                <div id="solutionContainer"></div>
                @using (@Html.BeginForm("Show", "Exercise", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <div class="form-inline">
                        <input type="hidden" id="answer" name="answer" />
                        <button type="submit" class="btn btn-success" onclick="copyAnswer();">Verificar respuesta</button>
                    </div>
                }
            </blockquote>
        </div>
    </div>       

    <div class="clearfix"></div>
    <br /><br />
    @if (IsPost)
    {                
        if (ViewBag.Result)
        {
            <div class="alert alert-dismissible alert-success col-lg-4 col-lg-push-4">
                <p class="text-center"><b>¡Respuesta correcta!</b></p>
            </div>
        }
        else
        {
            <div class="alert alert-dismissible alert-danger col-lg-4 col-lg-push-4">
                <p class="text-center"><b>¡Incorrecto!</b></p>
            </div>
        }        
    }
</div>