@model Logios.Models.ExerciseViewModel
@using Microsoft.AspNet.Identity
@using Logios.Extensions
@{
    ViewBag.Title = "Ejercicio Nº " + Model.Exercise.ExerciseId;
}

<h1>
    <b>EJERCICIO Nº @Model.Exercise.ExerciseId &nbsp;</b>    
</h1>
<span>Temática: </span>
<span class="label label-lg label-default">@Model.topicName</span>
<div class="pull-right">
    <span>Subido por <i>@Model.Exercise.User.UserName</i> &nbsp;</span>
    <a id="prevEx" href="@Url.Action("Show", "Exercise", new { id = Model.backExerciseId })" class="btn btn-sm btn-default" title="Ir a ejercicio anterior"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a id="nextEx" href="@Url.Action("Show", "Exercise", new { id = Model.nextExerciseId })" class="btn btn-sm btn-default" title="Ir a ejercicio siguiente"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<hr />
<div class="row">
    <div class="col-lg-2">
        <a href="@Url.Action("EditExercise", "Administrator", new { id = Model.Exercise.ExerciseId })" class="btn btn-sm btn-primary col-lg-12"><span class="glyphicon glyphicon-edit"></span> Editar</a>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-sm btn-danger col-lg-12" onclick="deleteExercise(@Model.Exercise.ExerciseId);"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
    </div>
</div>
<div class="vertical-space"></div>

<div class="row container-fluid">    
    <div class="row">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado: </h2>
        </div>

        <div class="col-lg-9">
            <blockquote class="exercise-bg">                
                <p style="font-size: larger !important;">@Html.Raw(Model.Exercise.Problem)</p>
                <small>Cada ejercicio suma 1 punto la primera vez</small>
            </blockquote>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Desarrollo: </h2>
                <h4><i>&raquo;Al ver el proceso de resolución del ejercicio, no se le otorgarán puntos.</i></h4>
            </div>

            <div class="col-lg-9">            
                <blockquote class="exercise-bg">
                    @using (Ajax.BeginForm(
                    "ShowDevelop",
                    "Exercise",
                    new { userId = User.Identity.GetUserId(), exerciseId = Model.Exercise.ExerciseId },
                    new AjaxOptions {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "divUI"
                    },
                    new
                    {
                        Id = "ShowDevelopForm",
                        @Class = "form",
                        role = "form"
                    }))
                    {
                        <button type="submit" id="ViewDevelopment" class="btn btn-block btn-default">Visualizar desarrollo</button>
                    }                    
                    <div class="clearfix"><br /></div>
                    <p style="font-size: larger !important;" id="DevelopmentField" hidden>@Html.Raw(Model.Exercise.Development)</p>
                </blockquote>
            </div>
        </div>
    
        <div class="vertical-space"></div>

        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Solución: </h2>            
            </div>

            <div id="divSolution" class="col-lg-9">
                <blockquote class="exercise-bg">
                    <div id="solutionContainer"></div>
                    @using (Ajax.BeginForm(
                        "Show",
                        "Exercise",
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "DivResult"
                        },
                        new
                        {
                            Id = "ResultForm",
                            @Class = "form",
                            role = "form"
                        }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-inline">
                                <input type="hidden" id="answer" name="answer" />
                                <button type="submit" class="btn btn-success" onclick="return copyAnswer();">Verificar respuesta</button>
                                <a href="http://www.wiris.com/editor3/docs/manual" target="_blank" class="alert-link text-info" style="font-size: x-large;" title="¿Necesita ayuda?"><span class="glyphicon glyphicon-question-sign"></span></a>
                                <div class="message"></div>
                            </div>
                        }                            
                </blockquote>
            </div>
        </div>

        <div class="pull-right">
            <a href="@Url.Action("Report", "Exercise", new { id = Model.Exercise.ExerciseId })" class="alert-link text-info"><span class="glyphicon glyphicon-warning-sign"></span> Reportar ejercicio</a>
        </div>
        <div id="DivResult"></div>
    }
    else
    {
        <div class="alert alert-info col-lg-4 col-lg-push-4">
            <p class="text-center"><b>Debes iniciar sesión para poder resolver los ejercicios</b></p>
        </div>
    }
    
    <div id="divModal"></div>
    <div id="divUI"></div>
</div>

@section scripts {        
        @Scripts.Render("~/Scripts/MathJax/MathJax.js?config=TeX-MML-AM_CHTML-full")
        @Scripts.Render("~/Scripts/controlPanel.js")
        @Scripts.Render("~/Scripts/formulaEditor.js")
        @Scripts.Render("~/Scripts/exercise.js")
        <script>pagination('@Model.isFirst', '@Model.isLast');</script>
    }