@model Logios.Models.ExerciseViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Ejercicio Nº " + Model.Exercise.ExerciseId;
}

<div class="row container-fluid">
    @if (Model.isResolved)
    {
        <h1 class="text-success">
            <b>EJERCICIO Nº @Model.Exercise.ExerciseId</b>
            @if (Model.Favorited)
            {
                <span class="glyphicon glyphicon-star text-warning favorite-star fix-star" data-exercise-id="@Model.Exercise.ExerciseId" data-toggle="tooltip" data-placement="right" title="Quitar de favoritos"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-star-empty text-warning favorite-star fix-star" data-exercise-id="@Model.Exercise.ExerciseId" data-toggle="tooltip" data-placement="right" title="Marcar como favorito"></span>
            }
            <label class="label label-success" style="font-size: 16px;">Ya resuelto</label>
            <button class="btn btn-info tutorial-button"> <span class="glyphicon glyphicon-question-sign"></span> </button>
        </h1>
    }
    else
    {
        <h1>
            <b>EJERCICIO Nº @Model.Exercise.ExerciseId</b>
            @if (Request.IsAuthenticated)
            {
                if (Model.Favorited)
                {
                    <span class="glyphicon glyphicon-star text-warning favorite-star fix-star" data-exercise-id="@Model.Exercise.ExerciseId" data-toggle="tooltip" data-placement="right" title="Quitar de favoritos"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty text-warning favorite-star fix-star" data-exercise-id="@Model.Exercise.ExerciseId" data-toggle="tooltip" data-placement="right" title="Marcar como favorito"></span>
                }
            }
            <button class="btn btn-info tutorial-button"> <span class="glyphicon glyphicon-question-sign"></span> </button>
        </h1>
    }
</div>

<div class="row">
    <div class="col-md-3">
        <span>Temática: </span>
        <span id="NameOfTopic" class="label label-lg label-default">@Model.topicName</span>
    </div>
    <div class="col-md-9 col-xs-10 text-right">
        <span>Subido por <i>@Model.Exercise.User.UserName</i> &nbsp;</span>
        <a id="prevEx" href="@Url.Action("Show", "Exercise", new { id = Model.backExerciseId })" class="btn btn-sm btn-info" data-toggle="tooltip" title="Ir a ejercicio anterior"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a id="randomEx" href="@Url.Action("Show", new { id = new Random().Next(1, Model.maxExerciseId) })" class="btn btn-sm btn-info" data-toggle="tooltip" title="Ejercicio aleatorio"><span class="glyphicon glyphicon-random"></span></a>
        <a id="nextEx" href="@Url.Action("Show", "Exercise", new { id = Model.nextExerciseId })" class="btn btn-sm btn-info" data-toggle="tooltip" title="Ir a ejercicio siguiente"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<hr class="vertical-space-2" />

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row vertical-space-3">
        <div class="col-md-2 col-xs-3">
            <a href="@Url.Action("EditExercise", "Administrator", new { id = Model.Exercise.ExerciseId })" class="btn btn-sm btn-primary col-md-12"><span class="glyphicon glyphicon-edit"></span> Editar</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-sm btn-danger col-md-12" onclick="deleteExercise(@Model.Exercise.ExerciseId);"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
        </div>
    </div>
}

<div class="row container-fluid">    
    <div class="row vertical-space-3">
        <div class="col-lg-3">
            <h2 class="exercise-legend">Enunciado: </h2>
        </div>

        <div class="col-lg-9">
            <blockquote id="enunciado" class="exercise-bg">                
                <p style="font-size: larger !important;">@Html.Raw(Model.Exercise.Problem)</p>
                <small>Cada ejercicio suma 1 punto la primera vez</small>
            </blockquote>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="row vertical-space-3">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Desarrollo: </h2>
                <h4><i>&raquo; Al ver el proceso de resolución del ejercicio, no se le otorgarán puntos.</i></h4>
            </div>

            <div id="desarrollo" class="col-lg-9">            
                <blockquote class="exercise-bg">
                    @using (Ajax.BeginForm(
                    "ShowDevelop",
                    "Exercise",
                    new { userId = User.Identity.GetUserId(), exerciseId = Model.Exercise.ExerciseId },
                    new AjaxOptions {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "divUI"
                    },
                    new
                    {
                        Id = "ShowDevelopForm",
                        @Class = "form",
                        role = "form"
                    }))
                    {
                        <button type="submit" id="ViewDevelopment" class="btn btn-block btn-default">Visualizar desarrollo</button>
                    }                    
                    <div class="clearfix"><br /></div>
                    <p style="font-size: larger !important;" id="DevelopmentField" hidden>@Html.Raw(Model.Exercise.Development)</p>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h2 class="exercise-legend">Solución: </h2>
                <h4><i class="text-danger">&raquo; La respuesta tiene que ser lo más completa posible (ej.: si una ecuación da 2, debe escribir x=2)</i></h4>                            
                <button id="btnHelper" class="btn btn-sm btn-default text-primary" style="border: 2px solid lightgray;"><span class="glyphicon glyphicon-file"></span> Cuentas auxiliares</button>                
            </div>

            <div id="divSolution" class="col-lg-9">
                <blockquote class="exercise-bg">
                    <div id="solutionContainer"></div>
                    @using (Ajax.BeginForm(
                        "Show",
                        "Exercise",
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "DivResult"
                        },
                        new
                        {
                            Id = "ResultForm",
                            @Class = "form",
                            role = "form"
                        }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="hidden" id="answer" name="answer" />
                                    <button type="submit" class="btn btn-success" onclick="return copyAnswer();">Verificar respuesta</button>
                                    <a href="http://www.wiris.com/es/editor/docs/manual/basic-formula-edition" target="_blank" class="alert-link text-info" style="font-size: x-large;" data-toggle="tooltip" data-placement="right" title="¿Necesita ayuda?"><span class="glyphicon glyphicon-question-sign"></span></a>
                                </div>                                
                            </div>
                            <div class="message"></div>
                    }                            
                </blockquote>
            </div>
        </div>

        <!-- MODAL DE TROFEO -->
        if (Model.NewTrophy != null)
        {
            <div id="trophyModal" class="modal fade">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="text-center">
                                    <img src="@Model.NewTrophy.Image" class="trophy-image" />
                                </div>
                            </div>
                            <div class="modal-body text-center">
                                <h2 class="trophy-title">¡Felicitaciones!</h2>
                                <h4>Has obtenido el trofeo <strong>@Model.NewTrophy.Description</strong> por @Model.NewTrophy.Reason, ¡que te otorga @Model.NewTrophy.Points puntos!</h4>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-12">                                    
                                    @Html.Partial("_ShareTrophy", Model.NewTrophy.Description)                                    
                                    <div class="col-md-3" style="padding-left: 25px; padding-top: 5px;">
                                        <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                function openTrophyModal() {
                    var trophyModal = $('#trophyModal');

                    trophyModal.modal({
                        show: true
                    });
                }

                openTrophyModal();
            </script>
        }

        <div class="pull-right">
            <a href="@Url.Action("Report", "Exercise", new { id = Model.Exercise.ExerciseId })" class="alert-link text-info"><span class="glyphicon glyphicon-warning-sign"></span> Reportar ejercicio</a>
        </div>
        <div id="DivResult"></div>
    }
    else
    {
        <div class="alert alert-info col-lg-4 col-lg-push-4">
            <p class="text-center"><strong>Debes iniciar sesión para poder resolver los ejercicios</strong></p>
        </div>
    }
    
    <div id="divModal"></div>
    <div id="divUI"></div>
</div>

<!-- Visita Guiada -->
<ol id="joyRideTipContent">
    <li data-button="Siguiente">
        <h3>Página de ejercicio</h3>
        <p>Veamos como utilizar la página de ejercicio.</p>
    </li>

    <li data-id="enunciado" data-button="Siguiente" data-options="tipLocation:left;tipAnimation:fade">
        <h3>Enunciado</h3>
        <p>
            Aquí puedes ver el enunciado del problema, lee atentamente el enunciado antes de comenzar a resolver
            el ejercicio porque en él encontrarás la forma de expresar el resultado.
        </p>
    </li>

    <li data-id="divSolution" data-button="Siguiente" data-options="tipLocation:left;tipAnimation:fade">
        <h3>Respuesta</h3>
        <p>
            SOLO DEBES ESCRIBIR LA RESPUESTA, NO EL DESARROLLO. <br />
            Recibirás un punto por cada ejercicio que resuelvas correctamente sin ver el desarrollo. Revisa el enunciado para saber como expresar la respuesta correctamente.
        </p>
    </li>
    
    <li data-id="desarrollo" data-button="Siguiente" data-options="tipLocation:left;tipAnimation:fade">
        <h3>Desarrollo</h3>
        <p>
            Si no sabes como resolver el ejercicio puedes presionar aquí para ver como resolverlo, pero ya no podrás obtener puntos por este ejercicio.
        </p>
    </li>

    <li data-class="tutorial-button" data-button="Finalizar" data-options="tipLocation:right;tipAnimation:fade">
        <h3>Ayuda</h3>
        <p>
            Si necesitas volver a ver la ayuda solo presiona esta botón.
        </p>
    </li>
</ol>

@section scripts {        
        @Scripts.Render("~/Scripts/MathJax/MathJax.js?config=TeX-MML-AM_CHTML-full")
        @Scripts.Render("~/Scripts/controlPanel.js")
        @Scripts.Render("~/Scripts/formulaEditor.js")
        @Scripts.Render("~/Scripts/exercise.js")
        @Scripts.Render("~/Scripts/exerciseFavorites.js")
        <script>pagination('@Model.isFirst', '@Model.isLast');</script>
    }